# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\UWM33\PSInt\wprowadzenie_do_python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
